*, body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #eeeeee;
}

.breadcrumbs ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  padding: 0;
  padding-top: 21px;
  padding-left: 24px;
  list-style: none;
}

.breadcrumbs ol li a {
  font-size: 14px;
  font-weight: normal;
  color: #888888;
  text-decoration: none;
}

.wrap {
  width: 1200px;
  padding-left: 24px;
  padding-right: 24px;
}

.error {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 125px;
  font-weight: normal;
  color: #2f3140;
  background-color: #ffffff;
}

.error-title {
  margin-bottom: 47px;
  padding-left: 24px;
  font-size: 32px;
  font-weight: normal;
}

.error-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.error-box h3 {
  margin-bottom: 15px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}

.error-box h3 span {
  display: block;
  font-size: 24px;
  font-weight: normal;
  text-transform: uppercase;
  color: #888888;
}

.error-box p {
  max-width: 251px;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
}

.error-box a {
  padding-top: 11px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 11px;
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
  color: #f7f7f9;
  background-color: #ec5f05;
}
