*, body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #eeeeee;
}

.breadcrumbs ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  padding: 0;
  padding-top: 21px;
  padding-left: 24px;
  list-style: none;
}

.breadcrumbs ol li a {
  font-size: 14px;
  font-weight: normal;
  color: #888888;
  text-decoration: none;
}

.feedback {
  width: 1200px;
  margin: 0 auto;
  color: #2f3140;
  background-color: #ffffff;
}

.feedback-title {
  margin-bottom: 47px;
  padding-left: 24px;
  font-size: 32px;
  font-weight: normal;
}

.feedback .form-container {
  padding-bottom: 77px;
}

.feedback .suptext {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
}

.feedback .form {
  width: 60%;
  margin: 0 auto;
}

.feedback .form select {
  width: 468px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-top: 12px;
  padding-left: 20px;
  padding-bottom: 11px;
  background-color: #efefef;
  border: none;
  outline: none;
}

.feedback .form input {
  width: 468px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-top: 12px;
  padding-left: 20px;
  padding-bottom: 11px;
  background-color: #efefef;
  border: none;
  outline: none;
}

.feedback .form textarea {
  width: 468px;
  height: 130px;
  margin-bottom: 40px;
  padding-top: 10px;
  padding-left: 20px;
  vertical-align: top;
  margin-right: 20px;
  background-color: #efefef;
}

.feedback .form label {
  font-size: 14px;
  font-weight: normal;
  color: #2F3140;
}

.feedback .form .agreement-text {
  width: 468px;
  margin-bottom: 40px;
  font-size: 14px;
}

.feedback .form .button {
  width: 220px;
  margin-bottom: 40px;
  padding-top: 12px;
  padding-bottom: 11px;
  font-size: 14px;
  text-align: center;
  color: #f7f7f9;
  border: none;
  background-color: #2f3140;
  cursor: pointer;
}

.feedback .form .button-center {
  text-align: center;
}

.feedback .form .subtext {
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
}
