*, body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #eeeeee;
}

.breadcrumbs ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  padding: 0;
  padding-top: 21px;
  padding-left: 24px;
  list-style: none;
}

.breadcrumbs ol li a {
  font-size: 14px;
  font-weight: normal;
  color: #888888;
  text-decoration: none;
}

.wrap {
  width: 784px;
  padding-left: 24px;
  padding-right: 24px;
}

.payment {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
  font-weight: normal;
  color: #2f3140;
  background-color: #ffffff;
}

.payment-title {
  margin-bottom: 41px;
  padding-left: 24px;
  font-size: 32px;
  font-weight: normal;
}

.payment-subtitle {
  font-size: 18px;
}

.payment-text {
  margin-bottom: 20px;
}

.payment-text span {
  margin-right: 10px;
  font-size: 18px;
  font-weight: bold;
}

.payment .payment-order-list {
  margin-top: 15px;
  margin-bottom: 30px;
  padding-left: 24px;
}

.payment .payment-order-list li {
  margin-top: 10px;
}

.payment .payment-unorder-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.payment .payment-unorder-list li {
  margin-right: 20px;
}

.payment .menu {
  position: absolute;
  width: 368px;
  top: 24px;
  right: 24px;
}

.payment .menu-list {
  padding: 0;
  list-style: none;
}

.payment .menu-list li a {
  width: 368px;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 22px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: #2f3140;
  border-bottom: 1px solid #e2e2e2;
  background-color: #f7f7f9;
}

.payment .menu-list li a:hover {
  color: #f7f7f9;
  background-color: #2f3140;
}
