*, body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #eeeeee;
}

.breadcrumbs ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  padding: 0;
  padding-top: 21px;
  padding-left: 24px;
  list-style: none;
}

.breadcrumbs ol li a {
  font-size: 14px;
  font-weight: normal;
  color: #888888;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #000000;
}

.wrap {
  width: 784px;
  padding-left: 24px;
  padding-right: 24px;
}

.shops {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 48px;
  font-weight: normal;
  color: #2f3140;
  background-color: #ffffff;
}

.shops-title {
  margin-bottom: 23px;
  padding-left: 24px;
  font-size: 32px;
  font-weight: normal;
}

.shops-image {
  margin-right: 36px;
}

.shops-item {
  margin-bottom: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #e2e2e2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shops-item-title {
  margin-bottom: 29px;
  font-size: 18px;
  color: #000000;
}

.shops-item-address {
  position: relative;
}

.shops-item-address::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 20px;
  top: 5px;
  left: 0;
  background-image: url("../img/address.png");
  background-repeat: no-repeat;
}

.shops-item-time {
  position: relative;
}

.shops-item-time::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  top: 5px;
  left: 0;
  background-image: url("../img/clock.png");
  background-repeat: no-repeat;
}

.shops-item span {
  display: block;
  margin-bottom: 6px;
  padding-left: 30px;
  font-size: 12px;
  color: #000000;
}

.shops-item span:nth-child(odd) {
  margin-bottom: 6px;
  color: #888888;
}

.shops .menu {
  position: absolute;
  width: 368px;
  top: 24px;
  right: 24px;
}

.shops .menu-list {
  padding: 0;
  list-style: none;
}

.shops .menu-list li a {
  width: 368px;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 22px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: #2f3140;
  border-bottom: 1px solid #e2e2e2;
  background-color: #f7f7f9;
}

.shops .menu-list li a:hover {
  color: #f7f7f9;
  background-color: #2f3140;
}

.company-phone {
  width: 368px;
  height: 161px;
  position: absolute;
  top: 297px;
  right: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ec5f05;
  background-image: url("../img/company-phone-bg.png");
  background-repeat: no-repeat;
}

.company-phone p {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
}

.company-phone a {
  margin-top: 22px;
  margin-bottom: 22px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.company-requisites {
  position: absolute;
  top: 496px;
  right: 24px;
  width: 368px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 17px;
  padding-left: 20px;
  font-weight: 500;
  border: 1px solid #e2e2e2;
}

.company-requisites h3 {
  margin-bottom: 20px;
}

.company-requisites p {
  margin-bottom: 3px;
}

.company-requisites p:nth-of-type(3) {
  margin-bottom: 15px;
}

.company-requisites span {
  font-weight: bold;
}
